.form-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  margin-bottom: 2rem;
}

.form-input {
  padding: 15px;
  outline: 0;
  border-radius: 4px;
  color: #000;
  font-size: 18px;
}

.btn {
  padding: 0.5rem;
  border-radius: 7px;
  margin-left: 2rem;
  font-size: 20px;
  color: #fff;
  background: #7b4b94;
  outline: 0;
  border: 0;
  &:hover { 
    cursor: pointer;
  }
  &:active { 
    transform: scale(1.05);
  }
}
