.header {
  padding: 1.25rem;
  background: #eee;
  color: #000;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-link,
.header-about-link {
  text-decoration: none;
  color: #000;
}

.header-about-link {
  font-size: 20px;
  &:hover {
    transition: transform 0.5s ease;
    transform: scale(1.5);
    color: red;
  }
}
